# Virtual Environment
.venv/
venv/
env/

# Environment variables (VERY IMPORTANT)
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build files
dist/
build/
*.egg-info/