requests
python-dotenv

google-generativeai
mistralai
groq

fastapi
uvicorn
pydantic

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-openrouter